doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title BKM Technology Solutions LLC
    link(rel="stylesheet", href="/styles/main.css")
  body
    .header-image-container
      img(src="/images/bkm-logo.png", alt="BKM Technology Solutions LLC Logo")

